.gallery-container .item {
  height: 110px;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.gallery-container .item.first-upload {
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.gallery-container .item.first-upload .icon {
  font-size: 50px;
  color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery-container .item:hover .btn-group {
  display: block;
}
.gallery-container .item .img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.gallery-container .item .btn-group {
  display: none;
  position: absolute;
  top: 35%;
  left: 25%;
}
@media only screen and (min-width: 1300px) {
  .gallery-container .item .btn-group {
    left: 40%;
  }
}
.gallery-container .item .btn-group .btn {
  padding: 1px 4px;
}
.gallery-control .thumnail-container {
  max-height: 100px;
  width: 100%;
  overflow: hidden;
}
.gallery-control .thumnail-container .img-thumnail {
  object-fit: cover;
  object-position: center center;
  max-width: 100%;
  height: 100px;
}
.btn-upload {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
