body {
	
}
a {
	&:hover {
		text-decoration: none;
	}
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
//Header
.header {
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	@media (min-width: $screen-md) {
		background-size: cover;
	}
}
//Header-end

/* SECTION */

//---content-header---//
.content-header {
	color: $white;
	padding: 60px 0;
	.title {
		font-size: 36px;
		margin: 0 0 25px;
		padding-bottom: 10px;
		position: relative;
		&:after {
			background: $theme-color-second;
			bottom: 0;
			content: "";
			display: block;
			height: 6px;
			left: 0;
			position: absolute;
			width: 94px;
		}
	}
	.desc {
		font-size: $font-size-base + 1;
		margin-bottom: 50px;
	}
	.btn-readmore {
		font-size: 21px;
		letter-spacing: 2;
	}
	@media (min-width: $screen-md) {
		padding: 60px 0 100px 0;
	}
	@media (min-width: $screen-lg) {
		padding: 110px 0 150px 0;
	}
}
//---content-header-end---//

//---section-category---//
#sc-cate {
	background: url('../images/background-cate.png') no-repeat center fixed;
	background-size: cover;
	.img-cate {
		height: 200px;
		line-height: 200px;
		a {
			display: block;
		}
	}
	.text-link {
		color: $black;
		display: block;
		font-size: 18px;
		font-weight: 700;
		margin: auto;
		padding-bottom: 8px;
		position: relative;
		width: 35%;
		&:after {
			background: #c10000;
			bottom: 0;
			content: "";
			height: 3px;
			left: 50%;
			position: absolute;
			width: 30px;
			@include translateX(-50%);
		}
	}
}
//---section-category-end---//

//---section-partner-end---//
#sc-partner {
	.title {
		color: $theme-color;
		margin: 0 0 20px;
	}
	.box-content {
		margin-bottom: 30px;
		text-align: center;
		img {
			max-width: 100%;
		}
	}
	@media (min-width: $screen-md) {
		.box-content {
			margin: 0;
			text-align: left;
			&.text-center {
				text-align: center;
			}
		}
	}
}
//---section-partner-end---//

//---section-doctor---//
#sc-doctor {
	background: url(../images/bg-doctor.png) no-repeat center;
	background-size: cover;
	border-color: $border-color;
	border-style: solid;
	border-width: 2px 0;
	padding-bottom: 80px;
	.sc-title {
		margin-bottom: 50px;
	}
	.img-doctor {
		margin-bottom: 30px;
		a {
			display: inline-block;
			margin: auto;
			width: 200px;
			img {
				width: 100%;
			}
		}
		@media (min-width: $screen-md) {
			margin: 0;
		}
	}
}
//---section-doctor-end---//

//---section-blog---//

#sc-blog {
	.sc-title {
		margin-bottom: 50px;
	}
}

.item-blog {
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	@include border-radius(3px);
	.post-info {
		.post-cat, .post-title {
			position: absolute;
		}
		.post-cat {
			background: $theme-color-second;
			left: 15px;
			padding: 7px 0;
			text-align: center;
			top: 0;
			width: 40px;
			a {
				color: #0d0d0d;
				font-size: 12px;
			}
		}
		.post-title {
			background: rgba(0,0,0,.4);
			bottom: 0;
			left: 0;
			line-height: 16px;
			margin: 0;
			padding: 15px;
			text-align: center;
			width: 100%;
			a {
				color: $white;
				font-size: 16px;
				font-weight: 700;
				&:hover {
					color: $theme-color-second;
				}
			}
		}
	}
	&:hover {
		img {
			@include scale(1.1);
		}
	}
}

.blog-thumbnail {
	.post-thumbnail {
		img {
			width: 100%;
			@include transition(all .3s);
		}
	}
}

//---section-blog-end---//

//---section-testimonial---//
#sc-testimonial {
	background: #ececec;
	.owl-nav {
		> div {
			font-size: 0;
			position: absolute;
			top: 50%;
			@include translateY(-50%);
			&:before {
				font-family: Fontawesome;
				font-size: 30px;
			}
			&.owl-prev {
				left: -15px;
				&:before {
					content: "\f053";
				}
			}
			&.owl-next {
				right: -15px;
				&:before {
					content: "\f054";
				}
			}
			@media (min-width: $screen-md) {
				&.owl-prev {
					left: -30px;
				}
				&.owl-next {
					right: -30px;
				}
			}
		}
	}
}
.testimonial {
	padding: 50px 30px 0;
	.testimonial-content {
		color: #767676;
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 40px;
		position: relative;
		&:before {
			color: #cecece;
			content: "\f10d";
			font-family: Fontawesome;
			font-size: 100px;
			left: -15px;
			position: absolute;
			top: -70px;
			z-index: -1;
		}
	}
	.testimonial-info {
		.test-img {
			float: left;
			margin-right: 15px;
			width: 95px;
		}
		.content-info {
			padding-top: 20px;
			.name {
				color: $black;
				font-size: 16px;
				font-weight: 700;
				margin: 0 0 10px;
			}
			.job {
				color: #969696;
				font-weight: 300;
				display: inline-block;
				font-style: italic;
			}
		}
	}
}
//---section-testimonial-end---//

/* SECTION-end */

/* FOOTER */
#footer-layout {
	background: $footer-bg;
	color: $footer-color ;
	padding: $footer-padding;
	.widget-logo-footer {
		.logo-footer {
			display: inline-block;
			margin-bottom: 10px;
			img {
				max-width: 100%;
			}
		}
		.desc {
			color: $footer-color;
			font-style: italic;
		}
	}
	ul {
		li {
			a {
				color: $footer-link-color;
				display: $footer-link-display;
				padding: $footer-link-padding;
				&:hover {
					color: $footer-link-hover-color;
				}
			}
		}
		&.widget-footer {
			li {
				border-bottom: 1px solid $footer-border-color;
				&:last-child {
					border: none;
				}
			}
		}
		&.widget-contact {
			li {
				border: none;
			}
		}
	}
}
.widget-title-footer {
	color: $footer-heading-color;
	font-size: $footer-heading-font-size;
	font-weight: $footer-heading-font-weight;
	margin: $footer-heading-margin;
	text-transform: $footer-heading-transform;
}

.footer-copy-right {
	background: $copyright-bg;
	color: $copyright-color;
	padding: $copyright-padding;
	text-align: $copyright-align;
	p {
		font-size: $copyright-font-size;
		font-weight: $copyright-font-weight;
		margin: 0;
	}
}