.logo {
	padding: $header-padding;
	text-align: center;
	a {
		display: inline-block;
		max-width: 230px;
		img {
			width: 100%;
		}
	}
	@media (min-width: $screen-md) {
		a {
			max-width: 460px;
		}
	}
}

.megamenu {
	background: $theme-color-second;
	.navbar {
		border: none;
		min-height: inherit;
	}
	.navbar-header {
		.navbar-toggle {
			border-color: $white;
			.icon-bar {
				background: $white;
			}
		}
	}
	.navbar-collapse {
		background: $theme-color-second;
		left: 15px;
		padding: 0 15px;
		position: absolute;
		width: 100%;
		z-index: 999;
		ul.navbar-nav {
			font-family: $navbar-font-family;
			> li {
				padding: $navbar-link-padding;
				> a {
					color: $navbar-link-color;
					display: block;
					font-weight: $navbar-font-weight;
					padding: 0 15px;
					text-transform: $navbar-text-transform;
					&:hover, &:focus {
						background: transparent;
					}
				}
				&.open {
					> a {
						background: transparent;
					}
				}
				&:last-child {
					> a {
						border: none;
					}
				}
				&.active, &:hover {
					background: $navbar-link-hover-bg;
					border: none;
					> a {
						color: $navbar-link-active-color;
					}
				}
				&.active {
					> a {
						border: none;
					}
				}
				.dropdown-menu {
					li {
						a {
							&:hover {
								background: transparent;
								color: $white;
							}
						}
					}
				}
			}
		}
		.dropdown.drop-search {
			.dropdown-menu {
				padding: 10px !important;
				.navbar-form {
					margin: 0;
					padding: 0;
					position: relative;
					@include box-shadow(none);
					.form-control, .form-group {
						margin: 0;
						width: 100%;
					}
					.btn {
						border: none;
						position: absolute;
						right: 1px;
						top: 1px;
						&:hover {
							background: transparent;
						}
					}
				}
			}
		}
	}
	@media (min-width: $screen-sm) {
		.navbar-header {
			float: none;
			.navbar-toggle {
				display: block;
			}
		}
		.navbar-collapse {
			left: 0;
			&.collapse {
				display: none !important;
				&.in {
					display: block !important;
				}
			}
			.navbar-nav {
				width: 100%;
				li {
					float: none;
				}
			}
		}
	}
	@media (min-width: $screen-md) {
		.navbar-header {
			float: left;
			.navbar-toggle {
				display: none;
			}
		}
		.navbar-collapse.collapse {
			display: block !important;
			padding: 0;
			position: inherit;
			> ul {
				> li {
					> a {
						border-right: 1px solid $border-color;
					}
				}
			}
			li {
				float: left;
			}
			.dropdown {
				> .dropdown-menu {
					min-width: $navbar-dropdown-size;
					padding: $navbar-dropdown-padding;
					@include border-radius(0);
					li {
						padding: $navbar-dropdown-link-padding;
						a {
							font-size: $navbar-dropdown-link-font-size;
							font-weight: $navbar-dropdown-link-font-weight;
							text-transform: $navbar-dropdown-link-transform;
							&:hover {
								color: $theme-color !important;
							}
						}
						&:first-child {
							padding: 0;
						}
					}
				}
			}
		}
	}
}