#real-estate-page-wrapper .post-item .title > a {
  font-weight: bold;
}
#real-estate-detail-page-wrapper .prj-title-group {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#real-estate-detail-page-wrapper .prj-i {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
#real-estate-detail-page-wrapper .prj-i .fl {
  float: left;
  width: 200px;
}
#real-estate-detail-page-wrapper .prj-i .fr {
  float: left;
}
