body {
  font-family: ElleFuturaBook;
}
a:hover {
  color: #f6851f !important;
  text-decoration: none;
}
a:visited,
a:active,
a:focus {
  text-decoration: none;
}
.family-bold {
  font-family: ElleFuturaBook;
  font-weight: bold;
}
.family-normal {
  font-family: ElleFuturaBook;
}
.custom-icon.icon-check {
  width: 35px;
  height: 40px;
  display: inline-block;
  background: url(/images/icon-check.png) center center;
  background-repeat: no-repeat;
}
#all-container .owl-theme .owl-dots .owl-dot.active span,
#all-container .owl-theme .owl-dots .owl-dot:hover span {
  background: #feb188;
}
#all-container .owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
#all-container .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -35px;
  position: relative;
}
#all-container .logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
#all-container .logo .img-responsive {
  height: 55px;
}
#all-container .navigation {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}
#all-container .navigation.scroll {
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
#all-container .navigation.scroll .menu-c1 > ul {
  background: #fff;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 768px) {
  #all-container .navigation {
    position: relative;
  }
}
#all-container .common-header {
  position: relative;
}
#all-container .nav-one {
  overflow: hidden;
  padding-top: 15px;
}
#all-container .nav-one ul {
  float: right;
}
#all-container .nav-one ul li {
  float: left;
}
#all-container .nav-one ul li a {
  color: #725d50;
  font-size: 15px;
  padding: 5px 30px 5px 0;
  display: block;
}
#all-container .main-nav {
  position: relative;
}
#all-container .main-nav > ul {
  float: right;
  margin-bottom: 0;
}
#all-container .main-nav .menu-c1 {
  border-bottom: 2px solid transparent;
  display: inline-block;
  margin: 0 20px 0px 10px;
  padding-bottom: 0px;
}
@media only screen and (min-width: 980px) and (max-width: 1100px) {
  #all-container .main-nav .menu-c1 {
    margin: 0 10px 0 10px;
  }
}
#all-container .main-nav .menu-c1 > a {
  border-bottom: 2px solid transparent;
}
@media only screen and (min-width: 980px) and (max-width: 1100px) {
  #all-container .main-nav .menu-c1 > a {
    font-size: 14px !important;
  }
}
#all-container .main-nav .menu-c1 a {
  display: block;
  color: #725d50;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative;
}
#all-container .main-nav .menu-c1 a .fa-caret-up {
  position: absolute;
  top: 22px;
  left: 48%;
  display: none;
  color: #f6851f;
}
#all-container .main-nav .menu-c1 > ul {
  width: 100%;
  position: absolute;
  left: 0;
  top: 35px;
  display: none;
  padding-top: 30px;
  border-top: 1px solid #a89a92;
  background: rgba(255, 255, 255, 0.9);
}
#all-container .main-nav .menu-c1:hover ul {
  display: block;
}
#all-container .main-nav .menu-c1:hover a .fa-caret-up {
  display: block;
}
#all-container .main-nav .menu-c1:hover > a {
  border-bottom: 2px solid #f6851f;
}
#all-container .main-nav .menu-c1 > a,
#all-container .main-nav .menu-c2 > a {
  text-transform: uppercase;
}
#all-container .main-nav .menu-c2 {
  width: 29%;
  float: left;
  padding-left: 40px;
  margin-right: 40px;
  min-height: 160px;
  margin-bottom: 20px;
}
#all-container .main-nav .menu-c2.type-design {
  padding-left: 100px;
}
#all-container .main-nav .menu-c2.type-design.left {
  border-left: 1px solid #b0a79c;
  border-right: 1px solid #b0a79c;
  padding-left: 60px;
  width: 23%;
}
#all-container .main-nav .menu-c2.type-design.right {
  border-right: 1px solid #b0a79c;
}
#all-container .main-nav .menu-c2.type-product {
  padding-left: 0;
}
#all-container .main-nav .menu-c2.type-product.left {
  width: 28%;
}
#all-container .main-nav .menu-c2.type-product.right {
  border-right: 1px solid #b0a79c;
}
#all-container .main-nav .menu-c2 a {
  display: inline-block;
}
#all-container .main-nav .menu-c3 {
  float: left;
  width: 180px;
}
@media only screen and (min-width: 990px) and (max-width: 1250px) {
  #all-container .main-nav .menu-c3.type-product {
    width: 140px;
  }
}
#all-container .main-nav .menu-c3.type-design {
  width: 190px;
}
@media only screen and (min-width: 990px) and (max-width: 1250px) {
  #all-container .main-nav .menu-c3.type-design {
    width: 180px;
  }
}
#all-container .main-nav .menu-c3 a {
  text-transform: none;
  display: inline-block;
}
#all-container .main-nav .nav-background {
  float: left;
  width: 29%;
  overflow: hidden;
}
#all-container .main-nav .nav-background.left {
  padding-left: 100px;
  padding-right: 25px;
  width: 40%;
}
#all-container .main-nav .nav-background img {
  max-height: 155px;
  width: 100%;
}
#all-container .nav-4-devices .nav-min-top {
  border-bottom: 1px solid #ccc;
}
@media only screen and (min-width: 768px) {
  #all-container .nav-4-devices .nav-min-top {
    float: right;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  #all-container .nav-4-devices .nav-min-top {
    float: none;
  }
}
#all-container .nav-4-devices .nav-min-top li a {
  display: block;
  color: #725d50;
}
@media only screen and (min-width: 768px) {
  #all-container .nav-4-devices .nav-min-top li a {
    padding: 5px 14px;
  }
}
@media only screen and (max-width: 767px) {
  #all-container .nav-4-devices .nav-min-top li a {
    padding: 14px 14px 14px 7px;
  }
}
@media only screen and (min-width: 768px) {
  #all-container .nav-4-devices .nav-main-nav {
    float: right;
  }
}
@media only screen and (max-width: 767px) {
  #all-container .nav-4-devices .nav-main-nav {
    float: none;
  }
}
#all-container .nav-4-devices .navbar.navbar-default {
  margin: 0;
}
#all-container .nav-4-devices .navbar-brand {
  font-family: ElleFuturaBook;
  font-weight: bold;
  color: #f6851f;
  font-size: 35px;
  position: relative;
  top: -5px;
}
@media only screen and (min-width: 768px) {
  #all-container .nav-4-devices .navbar-brand {
    top: 10px;
    font-size: 43px;
  }
}
#all-container .nav-4-devices .menu-c1 a,
#all-container .nav-4-devices .menu-c2 a,
#all-container .nav-4-devices .menu-c3 a {
  color: #725d50;
  padding: 5px 0;
  display: block;
  font-size: 16px;
}
#all-container .nav-4-devices .menu-c1 > a {
  display: block;
  padding: 14px 14px 14px 7px;
  font-size: 15px;
}
#all-container .nav-4-devices .menu-c2 {
  padding-left: 15px;
}
#all-container .nav-4-devices .menu-c3 {
  padding-left: 15px;
}
#all-container .nav-4-devices .dropdown-menu-level-1 {
  min-width: 260px;
}
#all-container footer {
  margin-top: 50px;
  color: #725d50;
}
#all-container footer .social-email-subcribe {
  margin-top: 40px;
}
#all-container footer .links {
  border-bottom: 1px solid #725d50;
}
#all-container footer .links .item {
  display: block;
  float: left;
}
@media only screen and (max-width: 330px) {
  #all-container footer .links .item {
    width: 100%;
  }
}
@media only screen and (min-width: 330px) and (max-width: 748px) {
  #all-container footer .links .item {
    width: 50%;
  }
}
#all-container footer .links .item .link-item {
  color: #725d50;
  text-transform: uppercase;
  display: block;
  padding: 10px 48px;
  font-size: 13px;
  text-align: center;
}
@media only screen and (max-width: 748px) {
  #all-container footer .links .item .link-item {
    padding: 10px 0px;
  }
}
@media only screen and (min-width: 748px) and (max-width: 993px) {
  #all-container footer .links .item .link-item {
    padding: 10px 13px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #all-container footer .links .item .link-item {
    padding: 10px 32px;
  }
}
@media only screen and (min-width: 1200px) {
  #all-container footer .links .item .link-item {
    padding: 10px 48px;
  }
}
#all-container footer .social .social-list .item {
  background: #3f3c40;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  width: 45px;
  height: 44px;
  text-align: center;
  line-height: 44px;
}
#all-container footer .social .hotline {
  color: #725d50;
  padding-top: 10px;
}
#all-container footer .subribe-email .subcriber-notification {
  display: none;
}
#all-container footer .subribe-email form {
  border: 1px solid #725d50;
  padding: 4px;
  overflow: hidden;
}
#all-container footer .subribe-email form .input {
  border: none;
  outline: none;
  box-shadow: none;
  float: left;
  padding: 3px;
}
#all-container footer .subribe-email form .button {
  border: none;
  background: #725d50;
  color: #fff;
  padding: 3px 15px 6px;
  float: left;
  box-shadow: 3px 3px #ccc;
}
#all-container footer .subribe-email .text {
  color: #725d50;
  padding-top: 10px;
  display: inline-block;
}
#all-container footer .company {
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
}
#home-page .large-intro {
  text-align: center;
  background: url(/images/home-page-mid-image.png) center center;
  background-size: cover;
}
#home-page .large-intro .middle-home-image {
  margin: 100px auto;
  display: inline-block;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
}
#home-page .large-intro .middle-home-image h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #feb188;
  padding-bottom: 15px;
}
#home-page .large-intro .middle-home-image h5 p {
  color: #fff;
  font-size: 16px;
}
#home-page .slide-category {
  margin-top: 40px;
  margin-bottom: 40px;
}
#home-page .slide-category .item .heading {
  font-size: 20px;
  text-transform: uppercase;
  color: #725d50;
  font-family: ElleFuturaBook;
  font-weight: bold;
  padding-bottom: 40px;
}
#home-page .slide-category .item .sapo {
  font-size: 18px;
  padding-bottom: 30px;
}
#home-page .slide-category .item .link {
  background: #feb188;
  display: inline-block;
  color: #725d50 !important;
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-style: italic;
  padding: 3px 40px 6px;
}
#home-page .slide-category .item .link-bold {
  color: #725d50 !important;
  font-family: ElleFuturaBook;
  font-weight: bold;
}
#home-page .slide-category #carousel-category-controls {
  margin-top: 30px;
  text-align: center;
}
#home-page .slide-category #carousel-category-controls .prev,
#home-page .slide-category #carousel-category-controls .next {
  border: 1px solid #725d50;
  font-size: 40px;
  padding: 5px 10px;
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 7px;
  cursor: pointer;
}
#home-page .you-dont-know .img-responsive {
  width: 100%;
}
#home-page .you-dont-know .heading {
  font-family: ElleFuturaBook;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 30px 60px;
  margin: 0;
  color: #725d50;
}
@media screen and (max-width: 494px) {
  #home-page .you-dont-know .heading {
    font-size: 18px;
    padding-left: 20px;
  }
}
#home-page .you-dont-know .line-you-know {
  font-size: 18px;
  color: #725d50;
  padding-bottom: 22px;
  overflow: hidden;
}
#home-page .you-dont-know .line-you-know .icon-check {
  float: left;
}
@media screen and (max-width: 494px) {
  #home-page .you-dont-know .line-you-know .icon-check {
    display: none;
  }
}
#home-page .you-dont-know .line-you-know .text {
  float: left;
  padding-left: 20px;
  width: 90%;
}
#home-page .subscribe-form {
  background: url('/images/bg-subscribe.png') center center;
  background-size: cover;
  height: 590px;
}
#home-page .subscribe-form .text-intro {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 30px;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  #home-page .subscribe-form .text-intro {
    margin-top: 5px;
  }
}
#home-page .subscribe-form .heading {
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  color: #feb188;
  border-top: 2px solid #feb188;
  border-bottom: 2px solid #feb188;
  padding: 40px 0;
  margin: 30px auto;
}
@media only screen and (max-width: 768px) {
  #home-page .subscribe-form .heading {
    font-size: 19px;
    padding: 5px 0;
    margin: 25px auto;
  }
}
#home-page .subscribe-form .safe-your-info {
  color: #fff;
  font-size: 18px;
}
#home-page .subscribe-form .form {
  margin-top: 100px;
}
@media only screen and (max-width: 768px) {
  #home-page .subscribe-form .form {
    margin-top: 10px;
  }
}
#home-page .subscribe-form .form .form-control {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  color: #725d50;
  font-size: 16px;
}
#home-page .subscribe-form .form .form-control::-webkit-input-placeholder {
  color: #725d50;
}
#home-page .subscribe-form .form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #725d50;
}
#home-page .subscribe-form .form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #725d50;
}
#home-page .subscribe-form .form .form-control:-ms-input-placeholder {
  color: #725d50;
}
#home-page .subscribe-form .form .toggle-checkbox {
  cursor: pointer;
}
#home-page .subscribe-form .form .list-brouchure {
  display: none;
  color: #fff;
  font-size: 16px;
  font-style: italic;
  background: rgba(0, 0, 0, 0.7);
  padding: 22px;
  border-radius: 10px;
}
#home-page .subscribe-form .form .list-brouchure .checkbox-inline {
  width: 180px;
}
#home-page .subscribe-form .form .button {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: #fff;
  padding: 5px 35px;
  font-size: 16px;
}
#home-page .hot-posts .heading {
  overflow: hidden;
  text-align: right;
}
#home-page .hot-posts .heading .block {
  background: #feb188;
  display: block;
  overflow: hidden;
  float: right;
}
#home-page .hot-posts .heading .big {
  background: #54504a;
  color: #fff;
  text-transform: uppercase;
  font-family: ElleFuturaBold;
  border-right: 1px solid #fff;
  float: left;
  text-align: left;
  font-size: 20px;
  padding: 20px 60px 20px;
}
@media only screen and (max-width: 668px) {
  #home-page .hot-posts .heading .big {
    border: none;
    font-size: 16px;
    padding: 20px 10px;
  }
}
#home-page .hot-posts .heading .empty {
  background: #feb188;
  float: left;
  padding: 10px 20px;
}
#home-page .post-listing .post-item {
  display: block;
  border: 1px solid #725d50;
  text-align: center;
  padding: 25px;
  border-bottom: 5px solid #725d50;
  color: #725d50;
}
#home-page .post-listing .post-item:hover {
  color: #725d50 !important;
}
#home-page .post-listing .post-item .img {
  display: inline-block;
}
#home-page .post-listing .post-item .title {
  display: block;
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 18px;
}
#home-page .post-listing .post-item .title:hover {
  color: #f6851f;
}
#home-page .post-listing .post-item .button {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #725d50;
  padding: 5px 15px;
  margin-top: 40px;
  overflow: hidden;
}
#home-page .post-listing .post-item .button:hover {
  color: #f6851f;
}
#home-page .post-listing .post-item .button .fa-caret-right {
  float: right;
  position: relative;
  top: 0px;
  font-size: 25px;
}
#home-page .post-listing .view-more-posts {
  color: #725d50;
  font-size: 16px;
  display: inline-block;
  margin-top: 25px;
}
.small-category-block .list-category-small {
  margin-bottom: 60px;
  overflow: hidden;
}
.small-category-block .list-category-small .col-system {
  padding-right: 1px;
  padding-left: 1px;
}
.small-category-block .list-category-small .item {
  display: block;
  position: relative;
  margin-bottom: 5px;
  border-right: 2px solid #fff;
  overflow: hidden;
}
.small-category-block .list-category-small .item .small-item {
  width: 100%;
  height: 148px;
}
.small-category-block .list-category-small .item .img-responsive {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.small-category-block .list-category-small .item .sapo {
  width: 100%;
  position: absolute;
  top: 29%;
  left: 0;
  font-family: ElleFuturaBook;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  .small-category-block .list-category-small .item .sapo {
    font-size: 11px;
  }
}
@media screen and (min-width: 501px) and (max-width: 1170px) {
  .small-category-block .list-category-small .item .sapo {
    font-size: 13px;
  }
}
#fixed-things {
  position: fixed;
  bottom: 0;
  right: 1px;
  z-index: 10;
}
#fixed-things .item {
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 2px;
  text-align: center;
  border: 1px solid #725d50;
  cursor: pointer;
  position: relative;
}
#fixed-things .item:hover .helper {
  display: block;
}
#fixed-things .item .icon {
  width: 39px;
  height: 39px;
  display: inline-block;
}
#fixed-things .item .hotline {
  background: url('/images/icon-phone-call.png');
}
#fixed-things .item .support {
  background: url('/images/icon-user.png');
}
#fixed-things .item .marker {
  background: url('/images/icon-marker.png');
}
#fixed-things .item .facebook {
  background: url('/images/icon-facebook.png');
}
#fixed-things .item .helper {
  display: none;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 200px;
  background: rgba(245, 245, 245, 0.9);
  font-size: 16px;
  padding: 7px;
  height: 44px;
  border: 1px solid #725d50;
  color: #f6851f;
}
#category-design-container .cover .img-responsive {
  width: 100%;
}
#category-design-container .description {
  margin-bottom: 40px;
}
#category-design-container .description .name h1 {
  color: #725d50;
  font-family: ElleFuturaBook;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 25px;
}
#category-design-container .products {
  padding-bottom: 60px;
}
#category-design-container .products .column {
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 6px;
}
#category-design-container .link-view-more {
  text-align: right;
  margin-top: 20px;
}
#category-design-container .link-view-more .link {
  color: #725d50;
}
#category-design-container .defa-introdude {
  padding-bottom: 50px;
}
.defa-introdude {
  text-align: center;
  color: #725d50;
}
.defa-introdude h2,
.defa-introdude .heading {
  font-family: ElleFuturaBook;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.defa-introdude .description {
  font-size: 16px;
}
.collspace-arrow {
  display: inline-block;
}
.collspace-arrow .icon {
  background: #2d373b;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 16px;
  text-align: center;
}
.collspace-arrow .icon .fa {
  color: #fff;
}
.collspace-arrow .text {
  color: #725d50;
}
.something-bottom-tk {
  background: url('/images/cover-bottom-ds-sp.png') center center;
  background-size: cover;
  height: 424px;
}
@media only screen and (max-width: 767px) {
  .something-bottom-tk {
    height: auto;
  }
}
.something-bottom-tk .item {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  height: 270px;
  margin-top: 77px;
  padding: 30px;
  overflow: hidden;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .something-bottom-tk .item {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 990px) {
  .something-bottom-tk .item {
    padding: 0;
  }
}
.something-bottom-tk .item .heading {
  font-family: ElleFuturaBook;
  font-weight: bold;
  color: #feb188;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .something-bottom-tk .item .heading {
    font-size: 14px;
  }
}
.something-bottom-tk .item .sapo {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .something-bottom-tk .item .sapo {
    font-size: 14px;
  }
}
.something-bottom-tk .item .link-big,
.something-bottom-tk .item .link-small {
  border: 1px dashed #725d50;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #725d50;
  text-transform: uppercase;
  display: inline-block;
  font-family: ElleFuturaBook;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.something-bottom-tk .item .link-big {
  padding: 20px;
}
.something-bottom-tk .item .link-small {
  margin-right: 5px;
  width: 80px;
  height: 80px;
  padding-top: 20px;
}
@media only screen and (min-width: 767px) and (max-width: 990px) {
  .something-bottom-tk .item .link-small {
    margin: 2px !important;
    padding: 5px !important;
  }
}
.something-bottom-tk .item .link-small.square {
  margin: 3px;
  height: auto;
  width: auto;
  border-radius: 0;
  padding: 10px;
}
@media only screen and (max-width: 767px) {
  .something-bottom-tk .item .link-small.square {
    padding: 5px;
    margin: 1px;
  }
}
.product-item .item {
  position: relative;
  height: 390px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .product-item .item {
    height: auto;
  }
}
.product-item .item .product-image {
  width: 100%;
  min-height: 100%;
}
.product-item .item .name {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.product-item .item .name .product-name,
.product-item .item .name .product-code {
  padding-left: 20px;
}
.product-item .item .name .product-name {
  font-family: ElleFuturaBook;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.product-item .item .name .product-code {
  font-family: ElleFuturaBook;
  font-weight: bold;
  color: #f6851f;
  text-transform: uppercase;
}
.product-item .item .name .product-link {
  color: #fff;
  display: block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 3px 0px 5px 0px;
  text-align: center;
  margin-top: 15px;
  margin-right: 18px;
}
.product-item .item .product-link-phone {
  position: absolute;
  top: 40%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  left: 0;
  width: 100%;
  text-align: center;
}
#product-design-container #product-name .name {
  text-transform: uppercase;
  font-size: 25px;
  font-family: ElleFuturaBook;
  font-weight: bold;
  color: #725d50;
}
#product-design-container #product-name .short-description {
  font-size: 16px;
  color: #725d50;
}
@media only screen and (min-width: 1023px) {
  #product-design-container #product-name .img {
    height: 140px;
    overflow: hidden;
  }
}
#product-design-container #product-name .img img {
  width: 100%;
}
#product-design-container #product-content .content {
  font-size: 16px;
}
#product-design-container #related .related-carousel-container {
  position: relative;
}
#product-design-container #related .related-carousel-container .controls .prev,
#product-design-container #related .related-carousel-container .controls .next {
  font-size: 60px;
  display: inline-block;
  color: #725d50;
  width: 50px;
  height: 79px;
  line-height: 0;
  position: absolute;
  top: 35%;
  z-index: 10;
  text-align: center;
  cursor: pointer;
}
#product-design-container #related .related-carousel-container .controls .prev {
  left: -50px;
}
#product-design-container #related .related-carousel-container .controls .next {
  right: -50px;
}
#product-design-container .line {
  border: 1px dashed #725d50;
  margin-bottom: 40px;
}
#product-design-container .defa-introdude {
  color: #725d50;
}
#product-design-container .defa-introdude .big {
  font-family: ElleFuturaBook;
  font-weight: bold;
}
#product-design-container .defa-introdude .small {
  font-size: 16px;
}
#product-design-container .some-design-medium .item {
  position: relative;
  display: block;
}
#product-design-container .some-design-medium .item img {
  height: 313px;
  width: 100%;
}
#product-design-container .some-design-medium .item .rem {
  position: absolute;
  background: url(/images/black-rem.png);
  color: #feb188;
  font-family: ElleFuturaBook;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 288px;
  height: 121px;
  font-size: 16px;
}
#product-design-container .some-design-medium .item .rem .text {
  display: inline-block;
  width: 175px;
  padding: 10px 0px 10px 10px;
}
#category-noithat-container .cover {
  position: relative;
  height: 485px;
  overflow: hidden;
}
#category-noithat-container .cover .img {
  width: 100%;
}
#category-noithat-container .text h1 {
  color: #fff;
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  position: absolute;
  z-index: 10;
  top: 23%;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
@media only screen and (min-width: 725px) and (max-width: 990px) {
  #category-noithat-container .text h1 {
    top: 13%;
    left: 10%;
  }
}
#category-noithat-container .text .sub-categories {
  position: absolute;
  top: 40%;
  left: 30%;
  background: rgba(255, 255, 255, 0.7);
  width: 40%;
  padding: 19px;
}
@media only screen and (max-width: 724px) {
  #category-noithat-container .text .sub-categories {
    display: none;
  }
}
@media only screen and (min-width: 724px) and (max-width: 1000px) {
  #category-noithat-container .text .sub-categories {
    width: 70%;
    top: 30%;
    left: 15%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1160px) {
  #category-noithat-container .text .sub-categories {
    width: 70%;
    top: 35%;
    left: 15%;
  }
}
#category-noithat-container .text .sub-categories .item {
  float: left;
  display: block;
  margin: 4px;
  padding-left: 4px;
  padding-right: 4px;
  width: 48%;
}
#category-noithat-container .text .sub-categories .item .link {
  border: 1px solid #725d50;
  color: #725d50;
  display: block;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 20px;
  position: relative;
}
#category-noithat-container .text .sub-categories .item .link .text {
  float: left;
}
#category-noithat-container .text .sub-categories .item .link .icon {
  float: right;
  font-size: 22px;
}
#category-noithat-container .detail .something-about-category h2 {
  font-family: ElleFuturaBook;
  font-weight: bold;
  color: #725d50;
  padding-bottom: 30px;
  font-size: 25px;
  text-transform: uppercase;
}
#category-noithat-container .detail .something-about-category .description {
  color: #725d50;
  font-size: 16px;
}
#category-noithat-container .detail .something-about-category .view-more {
  color: #f6851f;
  cursor: pointer;
  font-size: 16px;
}
#product-noithat-detail {
  padding-top: 40px;
}
#product-noithat-detail .general-info .product-name {
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  color: #725d50;
  padding-bottom: 20px;
}
#product-noithat-detail .general-info .images {
  padding-left: 10px;
}
#product-noithat-detail .general-info .images .item {
  overflow: hidden;
  height: 114px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (max-width: 768px) {
  #product-noithat-detail .general-info .images .item {
    height: auto;
  }
}
#product-noithat-detail .general-info .images .item .img {
  width: 100%;
  min-height: 100%;
  display: block;
}
#product-noithat-detail .general-info .short-description {
  font-size: 16px;
  color: #725d50;
  margin-bottom: 30px;
}
#product-noithat-detail .general-info .large-image {
  border: 1px solid #725d50;
  text-align: center;
  margin-bottom: 20px;
}
#product-noithat-detail .general-info .large-image .img {
  display: inline-block;
  margin: 0 auto;
}
#product-noithat-detail .general-info .other-info {
  overflow: hidden;
}
#product-noithat-detail .general-info .other-info .color-container {
  float: left;
}
#product-noithat-detail .general-info .other-info .color-container .color {
  overflow: hidden;
  padding-bottom: 10px;
}
#product-noithat-detail .general-info .other-info .color-container .color .item {
  float: left;
  margin-right: 2px;
}
#product-noithat-detail .general-info .other-info .color-container .color-tuts {
  font-size: 16px;
  color: #725d50;
  font-family: ElleFuturaBook;
  font-weight: bold;
}
#product-noithat-detail .general-info .other-info .price {
  float: right;
}
#product-noithat-detail .general-info .other-info .price .text {
  color: #725d50;
  font-size: 16px;
  text-transform: uppercase;
  font-family: ElleFuturaBook;
  font-weight: bold;
}
#product-noithat-detail .description {
  margin: 40px 0;
}
#product-noithat-detail .line-container {
  margin-bottom: 40px;
}
#product-noithat-detail .line-container .line {
  border-top: 1px dashed #725d50;
  display: block;
}
#product-noithat-detail .related-products {
  margin-bottom: 80px;
  position: relative;
}
#product-noithat-detail .maybe-you-like-this {
  margin-top: 60px;
}
#product-noithat-detail .maybe-you-like-this .heading {
  overflow: hidden;
  margin-bottom: 40px;
}
#product-noithat-detail .maybe-you-like-this .heading .empty {
  width: 80px;
  height: 50px;
  display: block;
  float: left;
  background: #f6851f;
  border-right: 4px solid #fff;
}
#product-noithat-detail .maybe-you-like-this .heading .text {
  color: #fff;
  background: #725d50;
  text-transform: uppercase;
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-size: 25px;
  float: left;
  width: 320px;
  text-align: center;
  height: 50px;
  padding-top: 8px;
}
#product-noithat-detail .maybe-you-like-this .posts .item .link {
  display: block;
  height: 130px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  #product-noithat-detail .maybe-you-like-this .posts .item .link {
    height: auto;
  }
}
#product-noithat-detail .maybe-you-like-this .posts .item .link .img {
  display: block;
  width: 100%;
  min-height: 100%;
}
#product-noithat-detail .maybe-you-like-this .posts .item .link .post-title {
  color: #725d50;
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-size: 16px;
}
#page-detail-container {
  color: #725d50;
}
#page-detail-container .cover .img {
  width: 100%;
}
#page-detail-container .content .page-title {
  font-family: ElleFuturaBook;
  font-weight: bold;
  color: #725d50;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 40px;
  margin-top: 40px;
}
#page-detail-container .content .page-content {
  font-size: 16px;
  padding-bottom: 30px;
}
#page-detail-container .content .services {
  padding: 30px 0;
}
#page-detail-container .content .services .heading {
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 30px 0;
}
#page-detail-container .content .services .item .link {
  color: #725d50;
  font-size: 16px;
  display: inline-block;
}
#page-detail-container .sidebar {
  padding-top: 30px;
}
#page-detail-container .sidebar .post .heading {
  font-family: ElleFuturaBook;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}
#page-detail-container .sidebar .post .post-item {
  margin-bottom: 20px;
}
#page-detail-container .sidebar .post .post-item .link {
  color: #725d50;
  font-size: 16px;
  display: inline-block;
}
#page-detail-container .line {
  border-top: 1px solid #ccc;
}
#posts-container .cover {
  max-height: 330px;
  overflow: hidden;
}
#posts-container .cover .img {
  width: 100%;
}
#posts-container .simple-breadcrumb {
  padding: 30px 0 50px;
}
#posts-container .simple-breadcrumb .item {
  float: left;
}
#posts-container .simple-breadcrumb .item .link {
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-size: 14px;
  color: #725d50;
}
#posts-container .listing {
  padding-top: 30px;
  color: #725d50;
}
#posts-container .listing .heading {
  font-family: ElleFuturaBook;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  font-size: 25px;
}
#posts-container .listing .post-listing .item {
  padding-bottom: 40px;
  border-bottom: 1px solid #725d50;
}
#posts-container .listing .post-listing .item .title .link {
  font-family: ElleFuturaBook;
  font-weight: bold;
  color: #725d50;
  font-size: 16px;
}
#posts-container .listing .post-listing .item .content {
  font-size: 16px;
}
#posts-container .listing .post-listing .item .button-link-container {
  display: none;
}
#posts-container .listing .post-listing .item .button-link-container .button-link {
  overflow: hidden;
  display: inline-block;
  padding: 5px 15px;
  color: #725d50;
  border: 1px solid #725d50;
}
#posts-container .listing .post-listing .item .button-link-container .button-link .text {
  float: left;
  padding-right: 10px;
}
#posts-container .listing .post-listing .item .button-link-container .button-link .icon {
  float: right;
  margin-top: 5px;
}
#posts-container .listing .paginate-button {
  color: #725d50;
}
#posts-container .sidebar {
  padding-top: 30px;
}
#posts-container .sidebar .search-form {
  padding-bottom: 20px;
  overflow: hidden;
}
#posts-container .sidebar .search-form .keyword {
  float: left;
  border: 1px solid #725d50;
  padding: 5px 10px;
  outline: none;
  width: 82%;
}
#posts-container .sidebar .search-form .button {
  float: left;
  border: 1px solid #725d50;
  background: #fff;
  padding: 0px 10px;
  text-align: center;
  margin-left: 5px;
}
#posts-container .sidebar .search-form .button .icon {
  font-size: 30px;
}
#posts-container .sidebar .categories .heading {
  font-family: ElleFuturaBook;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #725d50;
  padding-bottom: 20px;
}
#posts-container .sidebar .categories .item {
  margin-bottom: 10px;
}
#posts-container .sidebar .categories .item .link {
  color: #725d50;
  font-size: 16px;
}
#posts-container .sidebar .categories .item .link.active {
  font-weight: bold;
}
#posts-container .sidebar .design-categories {
  margin-top: 60px;
  background: url('/images/post-sidebar-tk.png');
  background-size: cover;
}
#posts-container .sidebar .design-categories .item .link {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 18px 20px;
  display: block;
  text-align: center;
  font-size: 16px;
}
#posts-container .time {
  margin-bottom: 10px;
}
#posts-container .time .author {
  color: #f6851f;
}
#posts-container .time .addthis_native_toolbox {
  display: inline-block;
  position: relative;
  top: 10px;
}
#posts-container .post-detail-content {
  color: #725d50;
}
#posts-container .post-detail-content .heading {
  color: #725d50;
  text-transform: uppercase;
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-size: 25px;
  padding: 0 0 30px;
}
#posts-container .post-detail-content .time {
  margin-bottom: 40px;
}
#posts-container .post-detail-content .content-container .img {
  float: right;
  display: block;
  margin: 10px;
}
#posts-container .post-detail-content .some-controls .back-to-top {
  cursor: pointer;
  color: #725d50 !important;
  display: block;
}
#posts-container .post-detail-content .some-controls .link-old-posts {
  color: #725d50;
  cursor: pointer;
  display: block;
}
#posts-container .newest-design-products .heading {
  text-transform: uppercase;
  color: #725d50;
  font-size: 16px;
  font-family: ElleFuturaBook;
  font-weight: bold;
  padding-bottom: 15px;
}
#posts-container .newest-design-products .product-item .item {
  height: 240px;
}
#posts-container .newest-design-products .product-item .item .name .product-link {
  font-size: 13px;
  margin-right: 5px;
}
#tu-van-thiet-ke .product-listing {
  width: 100%;
}
@media only screen and (min-width: 990px) {
  #tu-van-thiet-ke .product-listing {
    margin-top: 110px;
  }
}
#tu-van-thiet-ke .product-listing .row {
  padding: 0;
}
#tu-van-thiet-ke .product-listing .item {
  padding: 0;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
#tu-van-thiet-ke .product-listing .item .img {
  width: 100%;
  display: block;
}
#tu-van-thiet-ke .product-listing .item .categories {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
#tu-van-thiet-ke .product-listing .item .categories .big-heading {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 20px;
  text-transform: uppercase;
  width: 100%;
}
#tu-van-thiet-ke .product-listing .item .categories .sub-item {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
#tu-van-thiet-ke .product-listing .item .categories .sub-item .item-sub-item {
  color: #725d50;
  display: inline-block;
  font-family: ElleFuturaBook;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px;
}
#tu-van-thiet-ke .defa-introdude .heading {
  font-size: 20px;
}
#tu-van-thiet-ke .cover-middle {
  background: url('/images/tu-van-thiet-ke-cover.png');
  background-size: cover;
  height: 274px;
  text-align: center;
}
#tu-van-thiet-ke .cover-middle .link {
  color: #fff;
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  margin: 7% auto;
}
#tu-van-thiet-ke .form-advisory {
  margin-top: 40px;
}
#tu-van-thiet-ke .form-advisory .heading {
  font-size: 20px;
  color: #725d50;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: ElleFuturaBook;
  font-weight: bold;
  line-height: 30px;
}
#tu-van-thiet-ke .form-advisory .heading-sub {
  text-align: center;
  margin-bottom: 40px;
}
#tu-van-thiet-ke .form-advisory .form-control {
  border: 1px solid #bab0a9;
  margin-bottom: 15px;
  color: #725d50;
  font-style: italic;
}
#tu-van-thiet-ke .form-advisory select.form-control {
  padding-bottom: 4px;
}
#tu-van-thiet-ke .form-advisory .button {
  width: 100%;
  border: none;
  background: #725d50;
  text-align: center;
  color: #fff;
  padding: 7px;
  border-radius: 4px;
  text-transform: uppercase;
  font-style: italic;
}
#tu-van-thiet-ke .form-advisory .text-note {
  text-align: center;
  font-size: 16px;
  color: #725d50;
  font-style: italic;
}
#tu-van-thiet-ke-detail-container {
  padding-top: 10px;
}
#tu-van-thiet-ke-detail-container .top-heading {
  color: #725d50;
  font-size: 20px;
  text-transform: uppercase;
  font-family: ElleFuturaBook;
  font-weight: bold;
  margin-bottom: 35px;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll {
  position: relative;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll .slidee {
  overflow: hidden;
  height: 247px;
  width: 100000px;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll .slidee .item {
  display: block;
  overflow: hidden;
  height: 247px;
  width: 329px;
  padding: 5px;
  position: relative;
  float: left;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll .slidee .item .img {
  width: 100%;
  height: 100%;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll .slidee .item .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll .slidee .item .info .product-name {
  color: #feb188;
  font-size: 16px;
  font-family: ElleFuturaBook;
  font-weight: bold;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll .slidee .item .info .customer-name {
  color: #fff;
  font-size: 16px;
  font-family: ElleFuturaBook;
  font-weight: bold;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll .controls .next,
#tu-van-thiet-ke-detail-container .slideshow-scroll .controls .prev {
  position: absolute;
  top: 30%;
  display: block;
  cursor: pointer;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll .controls .next {
  right: 30px;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll .controls .prev {
  left: 30px;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll #scrollbar {
  overflow: hidden;
  height: 20px;
  background: #d6d6d6;
  margin: 20px auto;
  box-shadow: inset 0px 0px 5px #ffffff;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #212121;
}
#tu-van-thiet-ke-detail-container .slideshow-scroll #scrollbar .handle {
  height: 18px;
  background: #757474;
  border-radius: 12px;
}
#tu-van-thiet-ke-detail-container #big-carousel {
  position: relative;
}
#tu-van-thiet-ke-detail-container #big-carousel #carousel .item {
  max-height: 619px;
  overflow: hidden;
}
#tu-van-thiet-ke-detail-container #big-carousel .controls .next,
#tu-van-thiet-ke-detail-container #big-carousel .controls .prev {
  position: absolute;
  top: 30%;
  cursor: pointer;
  display: block;
  z-index: 10;
}
#tu-van-thiet-ke-detail-container #big-carousel .controls .next {
  right: 30px;
}
#tu-van-thiet-ke-detail-container #big-carousel .controls .prev {
  left: 30px;
}
#tu-van-thiet-ke-detail-container .content .heading {
  color: #725d50;
  text-transform: uppercase;
  font-family: ElleFuturaBook;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
}
#tu-van-thiet-ke-detail-container .content .content-text {
  color: #725d50;
  font-size: 16px;
  margin-bottom: 30px;
  overflow: hidden;
}
#tu-van-thiet-ke-detail-container .content .content-text.close {
  max-height: 200px;
}
#tu-van-thiet-ke-detail-container .content .view-more-button {
  color: #feb188;
  font-size: 16px;
  font-style: italic;
  cursor: pointer;
  margin-bottom: 60px;
}
#title-promotion {
  text-align: center;
  color: #fff;
  background: #f6851f;
  padding: 10px;
  font-size: 16px;
  font-family: ElleFuturaBook;
  font-weight: bold;
  text-transform: uppercase;
}
@media only screen and (max-width: 814px) {
  .owl-custom-controls {
    display: none;
  }
}
.owl-custom-controls .next,
.owl-custom-controls .prev {
  width: 53px;
  height: 120px;
  display: inline-block;
  position: absolute;
  top: 35%;
  cursor: pointer;
}
.owl-custom-controls .next {
  background: url('/images/slide-next-button.png');
  right: -35px;
}
.owl-custom-controls .prev {
  background: url('/images/slide-prev-button.png');
  left: -35px;
}
