#product-detail-page #functions {
  /*
        left: 5px;
        bottom: 10px;
        width: 80px;
        */
  opacity: 0;
  top: -10000px;
  position: fixed;
  height: 66px;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 100;
  background: #333238;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4);
  left: 0;
  width: 100%;
  transition: all 1s;
}
#product-detail-page #functions ul {
  list-style-type: none;
}
#product-detail-page #functions ul li {
  display: inline-block;
}
#product-detail-page #functions ul li.active .item {
  background-color: #f5f5f5 !important;
  color: #000 !important;
}
#product-detail-page #functions .open {
  width: initial;
}
#product-detail-page #functions .open .item {
  transform: rotate(360deg);
}
#product-detail-page #functions .main-item {
  border-right: 1px solid #ccc;
  background: #333238;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  float: left;
  transition: all 0.5s;
}
#product-detail-page #functions .main-item i {
  display: block;
  font-size: 25px;
  color: #00a99e;
}
#product-detail-page #functions .main-item span {
  font-size: 10.5px;
}
#product-detail-page #functions .item {
  border-right: 1px solid #ccc;
  background: #333238;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  float: left;
  transition: all 0.5s;
}
#product-detail-page #functions .item i {
  display: block;
  font-size: 25px;
  color: #00a99e;
}
#product-detail-page #functions .item span {
  font-size: 10.5px;
}
#product-detail-page #functions.visible {
  opacity: 1;
  top: 0;
}
#product-detail-page .box-product-topOuter {
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
}
#product-detail-page .box-product-topOuter .product-img {
  border: 1px solid #c6c6c5;
  padding: 10px;
}
#product-detail-page .box-product-topOuter .pdt-small-img {
  margin: 20px 0;
}
#product-detail-page .merchant-buy-new-buy-old .line__text {
  cursor: pointer;
}
#product-detail-page .merchant-buy-new-buy-old .line__text:hover {
  text-decoration: underline;
}
#product-detail-page .simg-link {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  overflow: hidden;
  margin: 0 2px;
}
#product-detail-page .simg-link .simg-img {
  width: 100%;
  height: auto;
}
#product-detail-page .product-infomartion > .product-name {
  font-size: 24px;
  margin-bottom: 10px;
  display: block;
}
#product-detail-page .product-infomartion .metadata-info,
#product-detail-page .metadata-bonus {
  display: block;
  overflow: hidden;
}
#product-detail-page .product-infomartion .metadata-desc > .title-heading-global {
  padding: 10px 0;
}
#product-detail-page .metadata-bonus {
  border-top: 1px solid #c6c6c5;
  border-bottom: 1px solid #c6c6c5;
  margin: 10px 0;
  padding: 5px 0;
}
#product-detail-page .metadata-bonus > div {
  padding: 5px 0;
}
#product-detail-page .metadata-bonus > div.dock-line {
  border-right: 1px solid #c6c6c5;
}
#product-detail-page .metadata-bonus > div:last-child {
  border-right: none !important;
  padding: 0;
}
#product-detail-page .product-price {
  font-weight: 600;
}
#product-detail-page .metadata-bonus .product-comment,
#product-detail-page .metadata-bonus .product-like {
  display: block;
  overflow: hidden;
  float: left;
  width: 50%;
  font-size: 13px;
  border-right: 1px solid #c6c6c5;
}
#product-detail-page .metadata-bonus .product-like {
  border-right: none !important;
}
#product-detail-page .metadata-bonus .product-comment > i,
#product-detail-page .metadata-bonus .product-like > i {
  display: block;
}
#product-detail-page .box-product-digital {
  /*border: 1px solid #c6c6c5;*/
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
#product-detail-page .box-product-digital .product-spec {
  background-color: #3d4149;
  color: #fff;
  padding: 10px;
}
#product-detail-page .box-product-digital .product-spec table {
  width: 100% !important;
}
#product-detail-page .box-product-digital .product-spec table tr {
  background-color: transparent !important;
}
#product-detail-page .box-product-digital .product-spec table ul {
  list-style: none;
  padding: 0;
}
#product-detail-page .box-product-digital .product-spec ul li > strong {
  width: 25%;
  display: block;
  float: left;
}
#product-detail-page .box-product-digital .product-spec.normal ul li {
  margin: 5px 0;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #717171;
  padding: 5px 0 10px 0;
}
#product-detail-page .box-product-digital .product-spec > ul {
  list-style: none;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0 10px;
  height: 300px;
}
#product-detail-page .box-product-digital .product-spec.table-nama table tr {
  background-color: transparent !important;
  border-bottom: 1px solid #ccc;
}
#product-detail-page .box-product-digital .product-spec.table-nama table tr td {
  padding: 10px 0;
}
#product-detail-page .box-product-digital .product-spec.table-nama table tr td p {
  margin: 0;
}
#product-detail-page .box-product-digital .product-spec.table-nama table tr:last-child {
  border-bottom: transparent;
}
#product-detail-page .sort-text.produc-detail > b {
  font-size: 13px;
  font-weight: normal;
}
#product-detail-page #btnReview {
  overflow: hidden;
  margin: 10px 10px 0;
}
#product-detail-page .product-image-review {
  width: 100%;
  display: block;
  overflow: hidden;
  height: 400px;
}
#product-detail-page .product-all-photo {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
#product-detail-page .product-photo-default {
  height: 400px;
}
#product-detail-page .product-photo-more {
  height: 190px;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
#product-detail-page .product-photo {
  position: relative;
  border: 1px solid #eaeaea;
  padding: 1px;
}
#product-detail-page .bg-product-photo {
  position: absolute;
  bottom: 0;
  background-color: #16aa9d;
  width: 100%;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}
#product-detail-page .pdt-block-hsx .link-item {
  color: #696969;
}
#product-detail-page #pdt-auto-tags .auto-tag-item {
  color: #3e3e3e;
  display: inline-block;
  border-right: 1px solid #c5c5c5;
  padding: 0 5px;
}
#product-detail-page #pdt-auto-tags .auto-tag-item:last-child {
  border-right: 0;
}
#product-detail-page #info-prices-table .price-items-table .rate-star .icon {
  color: #fc0;
}
#product-detail-page #info-prices-table .price-items-table .info-number .text-red {
  color: #F44F00;
  font-weight: bold;
}
#product-detail-page #modal-rate .rate-bound {
  cursor: pointer;
}
#product-detail-page #modal-rate .rate-bound .rate-icon {
  font-size: 40px;
  cursor: pointer;
  color: #ccc;
}
#product-detail-page #modal-rate .rate-bound .rate-icon.hover {
  color: #fc0;
}
